
.form-title{
  font-family: Verdana;
  font-size: 1.4em;
  font-weight:500;
  color: black;
  display: block;
  padding: 0 0 .2em 0;
  white-space:nowrap;
}
.form-grid-group{
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 .33em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 .33em 1em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 .33em 1em;
  
}
.form-grid-group-title{
  font-family: Verdana;
  font-size: 1.2em;
  font-weight:500;
  color: black;
  display: block;
  padding: 1em 0 .5em 0;
  white-space:nowrap;

}
.form-sequode-group{
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 .33em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 .33em 1em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 .33em 1em;
  padding: 0 0 1em 0;
}
.form-sequode-group-title{
  font-family: Verdana;
  font-size: 1em;
  font-weight:400;
  color: black;
  width:auto;
  padding: .8em;
  white-space:nowrap;

}
.form-component-container{
  display: inline-block;
  width:auto;
  font-family: Verdana;
  font-size: .8em !important;
  font-weight:400;
  color: black;
  display: inline-block;
  width:auto;
  padding: 1em 1em 1em 1em;
  margin: 0 0 0 2em;
  white-space:nowrap;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 .33em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 .33em 1em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 .33em 1em;
  vertical-align: top;
}
.form-shim{
  height: 4em;
}

.form-component-required{

}
.form-component-optional{

  border: dashed #6e6c6e 1px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
}
.form-component-connected{

}
.form-component-unconnected{

}