
.automagic-content-row-divider{
  height: 1em;
  width: 1em;
  padding:0;
  margin:0;
}
.automagic-content-area-fullscreen{
    border:0;
    position:fixed;
    top:0;
    left:0;
    bottom:-20px;
    right:-20px;
    overflow:auto;
    padding:0 20px 0 0;
    background-color:#fff;
    display:block;
    z-index:1001;
}
.automagic-content-area-xlarge{
  width:60em;
  padding:0 1em 1em 1em;
  display:block;
}
.automagic-content-area-large{
  width: 45em;
  padding:0 1em 1em 1em;
  display:block;
}
.automagic-content-area-medium{
  width: 30em;
  padding:0 1em 1em 1em;
  display:block;
}
.automagic-content-area-small{
  width: 20em;
  padding:0 1em 1em 1em;
  display:block;
}
.automagic-content-area-xsmall{
  width: 27em;
  height: 10.5em;
    padding: 0 .5em .5em .5em;
  display:block;
  overflow-y: scroll;
}
.automagic-content-area-xsmall-tile-container {
    width: 100%;
    height: 13em;
    padding: 0;
    margin: 0;
    display: block;
    overflow-y: scroll;
    min-width: 100%;
}
.automagic-content-area-xxsmall{
  width: 10em;
  padding:0 1em 1em 1em;
  display:block;
}