
.card-title {
  font-size: 1.2em;
  font-weight: 800;
  color: #000;
  padding: .2em .2em .15em .4em !important;
  vertical-align: middle;
  display: inline;
  text-decoration: none;
  white-space: nowrap;
  text-align: left;
  width: auto;
}
.content{
    width:50%;
    overflow:visible;
    margin: 0 auto;
    text-align:center;
}
.subline {
  font-size: 1em;
  font-weight:800;
  color: #000;
  white-space: nowrap;
}
.subtext{
  font-size: 1em;
  font-weight:800;
  color: #000;
}
.card-subtitle{
  font-size: 1em;
  font-weight:800;
  color: #000;
}
.card-text{
  font-size: .9em;
  font-weight:500;
  color: #000;
}
.card-textblock{
  padding: .5em 0 .5em 0;
  text-indent: .9em;
}
.caption {
  font-size: 0.7em;
  color: #000;
}
.label{
  font-family: kids;
  font-size: 1.2em;
  font-weight:800;
  color: #000;
  margin:0;
  padding:0;
  white-space: nowrap;
}